Hello students. This is a sample python notebook

In [17]:
Neighborhood = "Chennai"

In [6]:
print(Neighborhood)

Chennai

In [7]:
print(type(Neighborhood))

<class 'str'>

# Write annotation here

In [8]:
YearBuilt = 2003

In [9]:
print(YearBuilt)

2003

In [10]:
print(type(YearBuilt))

<class 'int'>

In [11]:
YearBuilt + 2

2005

In [12]:
saleprice = 208500.5

In [13]:
print(type(saleprice))

<class 'float'>

In [14]:
is_today_saturday = True

In [15]:
is_today_sunday = False

In [18]:
print(type(is_today_saturday))

<class 'bool'>

In [19]:
cities = ["Chennai", "Delhi", "Jaipur", "Hyderabad"]

In [24]:
cities

['Chennai', 'Delhi', 'Jaipur', 'Hyderabad']

In [21]:
type(cities)

list

In [25]:
saha = [1,2,75,44,30]
saha

[1, 2, 75, 44, 30]

In [30]:
dhoni = [30,35,40,38,28, 35]
dhoni

[30, 35, 40, 38, 28, 35]

In [27]:
import numpy as np

In [28]:
np.mean(saha)

30.4

In [31]:
np.mean(dhoni)

34.333333333333336

In [34]:
np.var(saha)

769.04

In [35]:
np.var(dhoni)

17.555555555555557

In [38]:
import numpy as np

In [39]:
np.var(dhoni)

17.555555555555557

In [40]:
np.sum(dhoni)

206

In [41]:
30+35+40+38+28+35

206

In [42]:
import pandas as pd

Pandas stands for -> PANel DAta Structure

In [48]:
data = pd.read_csv("D:\\Teach\\PGC DABA\\Module 3\\data\\train.csv")

In [49]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [50]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [51]:
data["SalePrice"]

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64